
<h1>List of Users</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
  </tr>
  <% @robs.each do |rob| %>
          <tr>
    <td><%= rob.title %></td>
    <td><%= rob.content %></td>
  </tr>
<% end %> 
    </article>
    

</table>

<br>
    </article>
</div>
